modules/platform/nuxeo-search/nuxeo-search-rest-api/src/test/resources/schemas/primitivetypes.xsd

<?xml version="1.0"?>
<xs:schema targetNamespace="http://www.nuxeo.org/ecm/schemas/primitivetypes/"
  xmlns:xs="http://www.w3.org/2001/XMLSchema"
  xmlns:nxs="http://www.nuxeo.org/ecm/schemas/primitivetypes/">

  <xs:element name="integerField" type="xs:integer" />
  <xs:element name="longField" type="xs:long" />
  <xs:element name="floatField" type="xs:float" />
  <xs:element name="doubleField" type="xs:double" />

</xs:schema>
